.about {
  display: grid;
  grid-template-columns: auto 65.87%;
  padding: 120px 24px 0 24px;
}

.about__decor {
  padding: 35px 72px 0 47px;
}

.about__description {
  padding-top: 133px;
}

.about__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo {
  width: 148px;
  height: auto;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.06px;
}
