.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__content {
  position: relative;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 106px;
  color: #fff;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.line-left {
  align-self: start;
}

.line-center {
  margin-right: -27px;
  text-align: center;
}

.line-right {
  margin-right: -31px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover__button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
