.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__item {
  &:first-child {
    list-style-type: none;
  }
}

.header__logo {
  display: block;
  align-self: start;
  width: 140px;
  height: auto;
}

.header__contacts {
  max-width: 240px;
  margin-left: auto;
}
